html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;

    cursor: none;
}

body{
    margin: 0px;
    width: 100%;
    height: 100vh;

    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

#cursor {
    position: fixed;
    z-index: 500;
    display: none;
    width: 2.8vh;
    height: 2.8vh;
    border-radius: 50%;
    background-color: #ffffff66;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: transform 0.2s ease-out;
    transform-origin: 50% 50%;
}

#panorama-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#panorama-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

@font-face {
    font-family: ds;
    src: url(fonts/ds.ttf);
}

.horaP{
    position: absolute;
    right: 4vh;
    top: 2vh;
    font-size: 15vh;
    font-family: ds;
    margin: 0;
}

.GUI{
    position: absolute;
    
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    pointer-events: none;

    display: none;
}

.botonesLuz{
    background-color: #ffffff0d;
    height: 100vh;
    width: 30vh;
    z-index: 10;
    position: absolute;
    top: 0;
    border: none;

    display: none;
}

.botonesLuz:hover{
    cursor: none;
}

@font-face {
    font-family: ocr;
    src: url(fonts/ocr.ttf);
}

.PrincipalDiv{
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    transition: background-color 1s ease, background-image 1s ease;
    
    background-color: black;
    width: 100%;
    height: 100vh;

    background-image: url(assets/saidGif.gif);

    transition: opacity ease 1s;
}

.PrincipalDiv::before{
    background-image: url(assets/noise.gif);
    background-size: contain;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}

.titleDiv{
    width: 35%;
    height: 40vh;

    position: absolute;
    left: 15vh;
    top: 6vh;

    display: flex;
    justify-content: start;
    align-items: center;

    font-family: ocr;
    font-size: 10vh;

    color: white;
    text-shadow: #FC0 1px 0 3vh;

    z-index: 2;
}

.optionsDiv{
    white-space: pre;

    width: 35%;
    height: 40vh;

    position: absolute;
    left: 15vh;
    top: 55vh;

    display: flex;
    justify-content: start;
    align-items: center;

    font-family: ocr;
    font-size: 10vh;

    color: white;
    text-shadow: #FC0 1px 0 3vh;

    z-index: 2;
}