html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

body{
    margin: 0px;
    width: 100%;
    height: 100vh;

        font-family: 'Courier New', Courier, monospace;
        background-color: #000;
        /* Fondo negro */
        color: #fff;
        /* Texto blanco */
        /* Rotar ligeramente y escalar */
        transform-origin: center center;
        /* Origen de la transformación en el centro */
        filter: blur(2px) brightness(70%);
        /* Filtros para simular efecto retro */
        overflow: hidden;
        /* Ocultar contenido fuera del área transformada */
        /* Agregar espacio para mantener el contenido visible */
    }

#panorama-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#panorama-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

.GUI{
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;

    z-index: 100;
}

.botonesLuz{
    background-color: #ffffff0d;
    height: 100vh;
    width: 30vh;
    z-index: 10;
    position: absolute;
    top: 0;
    border: none;

    display: none;
}

.botonesLuz:hover{
    cursor: pointer;
}

@font-face {
    font-family: ocr;
    src: url(fonts/ocr.ttf);
}

.PrincipalDiv{
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    transition: background-color 1s ease, background-image 1s ease;
    
    background-color: black;
    width: 100%;
    height: 100vh;

    background-image: url(assets/saidGif.gif);

    transition: opacity ease 1s;
}

.PrincipalDiv::before{
    background-image: url(assets/noise.gif);
    background-size: contain;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}

.titleDiv{
    width: 35%;
    height: 40vh;

    position: absolute;
    left: 15vh;
    top: 6vh;

    display: flex;
    justify-content: start;
    align-items: center;

    font-family: ocr;
    font-size: 10vh;

    color: white;
    text-shadow: #FC0 1px 0 3vh;

    z-index: 2;
}

.optionsDiv{
    white-space: pre;

    width: 35%;
    height: 40vh;

    position: absolute;
    left: 15vh;
    top: 55vh;

    display: flex;
    justify-content: start;
    align-items: center;

    font-family: ocr;
    font-size: 10vh;

    color: white;
    text-shadow: #FC0 1px 0 3vh;

    z-index: 2;
}